nav {
    background-color: #222831;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    text-transform: uppercase;
    padding: 0 10px;
}
nav > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px); 
}

.menu {
    width: auto;
    margin-left: auto; 
}

.logo {
    display: flex;
    align-items: center;
}
.logo > a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 8px;
}
.menu > ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 10px;
}

.menu > ul > li > a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease, background-color 0.3s ease;
    position: relative;
}

.menu > ul > li > a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #aa392d;
    transition: width 0.3s ease;
}

.menu > ul > li > a:hover::after {
    width: 100%; 
    left: 0;
    background: #aa392d;
}

.menu > ul > li > a:hover {
    color: #aa392d; 
    background-color: #333;
}

nav > .wrapper > button {
    cursor: pointer;
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 0px;
    background-color: transparent;
    padding: 0px;
}
nav > .wrapper > button > svg {
    color: #fff;
    font-size: 50px;
}
@media only screen and (max-width: 1000px) {
    .menu > ul {
      display: none;
    }
    .menu.tampil > ul {
      display: inline;
    }
    .menu {
      text-align: right;
    }
    nav > .wrapper > button {
      display: inline;
    }
    .menu > ul {
      flex-direction: column;
      background-color: #000;
      width: 100%;
      position: fixed;
      top: 70px;
      left: 0;
    }
    .menu > ul > li {
      text-align: left;
      cursor: pointer;
    }
    .menu > ul > li > a {
      display: inline-block;
      padding: 15px 20px 15px 50px;
      width: 100%;
    }
    .menu > ul > li > a:hover {
      background-color: #222831;
    }
}