.progress-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 2%;
    overflow: hidden;
    margin: 50px 0;
}

.progress-bar {
    width: 0;
    height: 30px;
    background: #39404a;    
    text-align: center;
    line-height: 30px;
    color: white;
    transition: width 1s;
}

#HTML{
    color: black;
    font-size: 2em;
}